@model MonitPro.Models.PSSR.UpdatePSSRStatus

@{
    Layout = null;
}


<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

        <h4 class="modal-title" id="myModalLabel"><b>Close PSSR</b></h4>
    </div>

    <div class="container">
        <table cellpadding="4" cellspacing="4" width="90%" align="center" style="border: solid 2px gray;">
            <tr>
                <td height="10px" colspan="3"></td>
            </tr>
            <tr>
                <td height="10px" colspan="3">
                    <table cellpadding="4" cellspacing="4" width="90%" align="center">
                        <tr>
                            <td colspan="2">@Html.HiddenFor(model => model.PSSRID)</td>
                        </tr>

                        <tr>
                            <td>PSSR ID</td>
                            <td>@Html.DisplayFor(model => model.PSSRID)</td>
                        </tr>
                        <tr>
                            <td>Comment</td>
                            <td>@Html.TextAreaFor(model => model.ClosureComments)</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                Closed

                            </td>
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>
                            @*<td align="center" colspan="2">
                                    <input type="button" class="btn btn-primary" id="btnUpdate" onclick="javascript:UpdatePSSRStatus();" value="Complete" />
                                </td>*@

                            <td align="center" colspan="2">
                                <input type="button" class="btn btn-primary" id="btnUpdate" value="Complete" />
                            </td>


                        </tr>
                    </table>
                </td>
            </tr>
        </table>


    </div>
    <br /><br />`
</div>


<script type="text/javascript">
    $(document).ready(function () {
        // Add event listener to the "Complete" button
        $('#btnUpdate').click(function () {
            UpdatePSSRStatus();
        });
    });

    function UpdatePSSRStatus() {
        var pssrid = $("#PSSRID").val();
        var comments = $("#ClosureComments").val();

        if (comments.trim() === "") {
            // Comments field is empty, close the modal without updating the status
            $('#myModal').modal('hide');
        } else {
            // Comments field is not empty, proceed with updating the status
            updateStatus(parseInt(pssrid), 5, comments);
        }
    }

    function updateStatus(pssrid, statusId, comments) {
        var currentURL = '../PSSR/UpdatePSSRStatus';

        $.ajax({
            type: "POST",
            url: currentURL,
            data: { PSSRID: pssrid, StatusID: statusId, Comments: comments },
            success: function (response) {
                alert('PSSR Closed Successfully');
                $('#myModal').modal('hide');
                location.reload(true);
            },
            error: function (errmessage) {
                alert("Failed to update PSSR status: " + JSON.stringify(errmessage));
                $('#myModal').modal('hide');
            }
        });
    }
</script>




@*function CloseModel() {
        $('#myModal').modal('hide');
    }*@

