@using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post))
{
    @*<div class="input-container">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "name", placeholder = "Full Name" })
        <label for="name">Full Name</label>
    </div>

    <div class="input-container">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "email", placeholder = "Email Address" })
        <label for="email">Email Address</label>
    </div>*@

    <button type="submit">Submit</button>
}

